@tailwind base;
@tailwind components;
@tailwind utilities;



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 64
}

:root {
  --bgColor : #0d0d0d;
  --primary:#ff5631;
  --secondary:#cebea4;
  --green:#57cb4c;
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  body{
    background-color: var(--bgColor);
  }
}
